<html lang="en">
    <body>
        <!-- <h1>Insert Form</h1>
        <form action="{% url 'insert' %}" method="post">
            {% csrf_token %}
            {{form}}
        
            <input type="submit" value="insert">
        </form> -->
        <h1>Show data</h1>
        <table border="1">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> FirstNAMES </th>
                    <th> LastNAMES </th>
                    <th> Email </th>
                    <th> City </th>
                    <th> Contact </th>
                    <th> EDIT </th>
                    <th> DELETE </th>
                     

                </tr>
            </thead>
            <tbody>
                {% for i in ddata %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.Firstname}}</td>
                    <td>{{i.Lastname}}</td>
                    <td>{{i.Email}}</td>
                    <td>{{i.City}}</td>
                    <td>{{i.Contact}}</td>
                    <td><button><a href="{% url 'edit' pk=i.id%}">Edit</a></button></td>                    
                    <td><button><a href="{% url 'delete' pk=i.id%}">Delete</a></button></td>                    

                    
                </tr>
                {% endfor %}
            </tbody>
            



        </table>
        <a href="{% url 'home' %}">Insert Data</a>
    
    
    </body>

</html>